// Palette
$primary: #272fcf;
$primaryLight: #a09f9f;
$primaryDark: #1e26bd;
$secondary: white;
$secondaryLight: white;
$secondaryDark: white;
$tertiary: white;
$tertiaryLight: white;
$tertiaryDark: white;

// Text-colors
$brandTxtPrime: white;
$brandTxtSecondary: black;
$brandTxtTertiary: gray;

// Font-size
$brandFt-1: 1rem;
$brandFt-2: 1.5rem;
$brandFt-3: 2rem;

// Headers
$brandH-1: 3rem;
$brandH-2: 2.6rem;
$brandH-3: 2.2rem;

// Font-style
$brandTxtFam-1: 'Courier New', Courier, monospace;
$brandTxtFam-2: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$brandTxtFam-3: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

// Buttons
$btnPrime: $primary;
$btnSecondary: blue;
$btnTertiary: green;

// Hoverable
$brandHoverPrime: red;
$brandHoverSecond: blue;

// Backgrounds
$brandBodyBg: $secondaryLight;
$brandBgPrime: $tertiary;
$brandBgLight: white;
$brandBgDark: black;


