@import './brandVariables';

// Typography
.brand-ft-1 {
    font-family: $brandTxtFam-1;
}

// Colors
.brand-color-prime {
    color: $primary;
}

// Brand styled words
.brand-styled-word-prime{
    padding: .4rem .6rem;
    color: white;
    background-color: $primary;
}


// Backgrounds
.bg-brand-prime-active-effect{
    background-color: $primary;
    color: white !important;
}